<main class="pageError__box">
  <h1 class="pageError__title">
    {{ title }}
  </h1>
  <p class="pageError__text">{{ text }}</p>
  <a href="{{ href }}" alt="{{ labelLink }}" class="pageError__link">{{ labelLink }}</a>
</main>