<form id="{{formName}}" class="bodyModalAddChat">
    <h2 class="bodyModalAddChat__title">{{title}}</h2>
    <div class="bodyModalAddChat__body">
        {{{Input}}}
    </div>
    <span class="bodyModalAddChat__error">{{error}}</span>
    <div class="bodyModalAddChat__footer">
        {{{Button}}}
    </div>
</form>