<main class="authorization">
    <div>
        <h1 class="authorization__title">{{title}}</h1>
        <form id="{{formName}}">
            {{#each FieldsForm}}
                {{{this}}}
            {{/each}}
        </form>
    </div>
    <div>
        <div class="authorization__row">
            {{{Button}}}
        </div>
        <div class="authorization__row authorization__row_link">
            {{{Link}}}
        </div>
    </div>
    {{{MyButton}}}
    {{{Notification}}}
</main>