<div class="modal">
    <div class="modal__box">
        <h2 class="modal__box_title">{{title}}</h2>
        <div class="modal__body">{{{BodyElement}}}</div>
        <span class="modal__fileName">{{file}}</span>
        <div class="modal__footer">
            {{{Button}}}
            {{#if error}}
                <span class="modal__footer_error">
                    {{error}}
                </span>
            {{/if}}
        </div>
    </div>
</div>