<div>
    <div class="infoProfile__name">{{nameUser}}</div>
    <div class="infoProfile__row infoProfile__row_params">
        {{#each Fields}}
            {{{this}}}
        {{/each}}
    </div>
    <div
        class="infoProfile__row infoProfile__row_params infoProfile__row_change"
    >
        <div class="infoProfile__change">
            {{{LinkEdit}}}
        </div>
        <div class="infoProfile__change">
            {{{LinkEditPassword}}}
        </div>
        <div class="infoProfile__change infoProfile__change_exit">
            {{{LinkExit}}}
        </div>
    </div>
</div>