<div class="chatItem">
    <div class="divider"></div>
    <a href="{{linkChat}}/{{chatId}}" class="chatItem__wrapper">
        {{{Avatar}}}
        <div class="chatItem__centerBox">
            <span class="chatItem__name">{{login}}</span>
            <span class="chatItem__message">{{lastMessage}}</span>
        </div>
        <div class="chatItem__rightBox">
            <span class="chatItem__time">{{dateMessage}}</span>
            <span class="chatItem__newMessage">{{newMessageCounter}}</span>
        </div>
    </a>
</div>