<sector class="chatsLeftBox">
    <div>
        <div class="chatsLeftBox__top_profile">
            <div class="chatsLeftBox__top_profile_link">
                {{{Link}}}
            </div>
        </div>
        <div class="chatsLeftBox__top_search">
            <div class="chatsLeftBox__top_search_placeholder">
                <span>Поиск</span>
            </div>
            <input type="search" class="chatsLeftBox__top_search_input" />
        </div>
    </div>
    <div class="chatsLeftBox__groupBtn">
        {{{ButtonCreateChat}}}
        {{{ButtonDeleteChat}}}
    </div>
    <div id="chatsList" class="chatsLeftBox__list">
        {{#if isLoading}}
            {{{Loader}}}
        {{else}}
            {{#if isChatsListEmpty}}
                <span class="chatsLeftBox__empty">Нет чатов</span>
            {{else}}
                {{#each ChatsList}}
                    {{{this}}}
                {{/each}}
            {{/if}}

        {{/if}}
    </div>

    {{{Modal}}}
</sector>