<div>
    <h1>
        {{title}}
    </h1>
    <div>
        {{{myButton}}}
    </div>
    <div>
        {{{myButton2}}}
    </div>
    <div>
        {{{myButton3}}}
    </div>
    <div>
        {{{Button}}}
    </div>
    <div>
        {{{FieldForm}}}
    </div>
</div>